<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".core.dagger.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swapify"
        tools:targetApi="31">
        <activity
            android:name=".features.story.presentation.pages.StoryPage"
            android:exported="false" />
        <activity
            android:name=".features.post.presentation.pages.NewPostPage"
            android:exported="false" />
        <activity
            android:name=".features.auth.presentation.pages.LogoutPage"
            android:exported="false" />
        <activity
            android:name=".features.settings.presentation.pages.SettingsPage"
            android:exported="false" />
        <activity
            android:name=".features.post.presentation.pages.TagPostPage"
            android:exported="false" />
        <activity
            android:name=".features.post.presentation.pages.HeartPostPage"
            android:exported="false" />
        <activity
            android:name=".features.post.presentation.pages.ViewPostPage"
            android:exported="false" />
        <activity
            android:name=".features.messenger.presentation.pages.MessengerPage"
            android:exported="false" />
        <activity
            android:name=".features.profile.presentation.pages.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".MainEntryPoint"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.auth.presentation.pages.LoginPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.route.Navigator"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.swipe.presentation.pages.SwipePage"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>